div#teamName{
background: rgba(255, 255, 255, 0.2);
border: 1px solid rgba(255,255,255, 0.5);
border-radius: 5px;
text-align: center;
}
.btn{
    margin-left: 10px;
}

form#myProjects {
    padding: 10px;
    padding-bottom: 20px;
}