.col-sm-4{
    float:left;
    width: 315px;
    padding: 5px;
    border: 5px solid #3276b1;
    border-radius: 5px;
    margin: 2em;

}
.card-block{
    margin-top: 30px;
}
p{
    color: black;
    text-align: center;
}
.spanner{
    border: 1px black solid;
    text-align: center;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.spanner:hover{
    transition:pink .2s ease-out, background .4s ease-in;
}

.card-title{
    text-align: center;
}
.body{
    border: 1px solid black;
}
