div#loginForm, div#registerForm, div#createForm, div#createTeamForm {
    position: absolute;
    top: 50%;
    left: 35%;
}
div#teamsILead{
    float: left;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

h3 {
    text-align: center;
    opacity: 0.5;
}
form {
    background: url("../public/form_img.jpg") no-repeat center;
    width: 330px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}

input[type=submit]{
    background-color: white;
    border-color: gray;
    margin-top: 30px;
}
input[type=submit]:hover {
    background-color: lightskyblue;
    transition:color .2s ease-out, background-color .4s ease-in;
}


