div#loginForm, div#registerForm, div#createForm, div#createTeamForm {
    position: fixed;
    top: 50%;
    left: 35%
}
h3 {
    text-align: center;
    opacity: 0.5;
}
form {
    background-color: gray;
    width: 315px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}

input[type=submit]{
    border-color: gray;
    margin-top: 30px;
}
input[type=submit]:hover {
    background-color: lightskyblue;
    transition:color .2s ease-out, background .4s ease-in;
}


