table {
    border-radius: 5px;
}

table td {
    background-color: white;
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
}

a.map {
    border: 2px solid lightskyblue;
}

td.media {
    text-align: center;
}
