input {
    width: 300px;
    border: 2px solid skyblue;
    border-radius: 5px;
}

textarea {
    resize: none;
    width: 300px;
    height: 250px;
    border: 2px solid lightskyblue;
    border-radius: 5px;
}

button {
    padding: 5px;
    background-color: white;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    width: 300px;

}

button:hover {
    background:lightskyblue;
    transition:color .2s ease-out, background .4s ease-in;
}

legend {
    padding: 5px;
    border-bottom:1px solid lightskyblue;
}

form#contactUs {
    border: 2px solid lightskyblue;
    background-color: #eee;
    border-radius: 5px;
}









