div.myMeetigns {
    position: relative;
    margin:10px;
    padding: 5px;
}

div.myMeetingsHeading {
    text-align: center;
    background-color: rgba(255,255,255, 0.3);
    border: 1px solid white;
    border-radius: 5px;
}