.team-box{
    float:left;
    width: 10em;
    border: 3px solid lightskyblue;
    margin: 1em;
}
.spanner{
    display: block;
    background-color: lightskyblue;
}

#file-buttons{
    vertical-align: middle;
}