.social-enter {
    opacity: 0.01;
    transition: opacity .5s ease-out;
}

.social-enter.social-enter-active {
    opacity: 1;
}

.social-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.social-leave.social-leave-active {
    opacity: 0.01;
}

.social-appear {
    opacity: 0.01;
    transition: opacity 0.5s ease-in;
}

.social-appear.social-appear-active {
    opacity: 1;
}