div#loginForm, div#registerForm {
    position: fixed;
    top: 50%;
    left: 35%;
}
form {
    background-color: lightskyblue;
    width: 315px;
    padding: 5px;
    border: 2px solid lightskyblue;
    border-radius: 5px;
}

input[type=submit]{
    border-color: lightskyblue;
    margin-top: 30px;
}
input[type=submit]:hover {
    background-color: lightskyblue;
    transition:color .2s ease-out, background .4s ease-in;
}


